<div class="row">



    <div class="col-6">
        <div class="card">
            <div class="card-body">

              
                <app-grafica-dona [dataDona]="graficos.grafico1"></app-grafica-dona>


            </div>
        </div>
    </div>


    <div class="col-6">
        <div class="card">
            <div class="card-body">

              
                <app-grafica-dona [dataDona]="graficos.grafico2"></app-grafica-dona>


            </div>
        </div>
    </div>

</div>

<div class="row">



    <div class="col-6">
        <div class="card">
            <div class="card-body">

              
                <app-grafica-dona [dataDona]="graficos.grafico3"></app-grafica-dona>


            </div>
        </div>
    </div>


    <div class="col-6">
        <div class="card">
            <div class="card-body">

              
                <app-grafica-dona [dataDona]="graficos.grafico4"></app-grafica-dona>


            </div>
        </div>
    </div>

</div>
